<h2 mat-dialog-title>Ajouter une affectation</h2>

<mat-dialog-content class="mat-typography">
  <form>


 <!--SELECT anneeScolaire -->
 <mat-form-field style="width: 100%" appearance="outline">
  <mat-label>Category: </mat-label>
  <mat-select [formControl]="categoryControl" [(ngModel)]="data.anneeScolaire" required>
<!--                            <mat-option>&#45;&#45;</mat-option>-->
      <mat-option *ngFor="let ctg of listCTGS" [value]="ctg">
          {{ctg.ans}}
      </mat-option>
  </mat-select>
</mat-form-field>

    <div class="form-group">
        <label for="listDesBus">liste des chauffeurs</label>
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Selection des chauffeur(s)</mat-label>
          <mat-select name="listDesBus" multiple [(ngModel)]="data.listDesChauffeurs">
              <mat-option *ngFor="let chauffeur of chauffeurList" [value]="chauffeur">{{ chauffeur.nom }}</mat-option>
          </mat-select>
        </mat-form-field>
      
    
      <label for="listDesLignes">Lignes</label>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Selection Ligne(s)</mat-label>
        <mat-select name="listDesLignes" multiple [(ngModel)]="data.listDesLignes">
            <mat-option *ngFor="let ligne of ligneList" [value]="ligne">{{ ligne.nomLigne }}</mat-option>
        </mat-select>
      </mat-form-field>
    
    
      <label for="listDesBus">Bus</label>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Selection Bus(s)</mat-label>
        <mat-select name="listDesBus" multiple [(ngModel)]="data.listDesBus">
            <mat-option *ngFor="let bus of busList" [value]="bus">{{ bus.immatriculation }}</mat-option>
        </mat-select>
      </mat-form-field>
   

</div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn btn-danger" (click)="onCancel()" style="margin-right: 6px">Annuler</button>
  <button class="btn btn-success" (click)="ngSubmit()">Valider</button>
</mat-dialog-actions>
