<h2 mat-dialog-title>Ajouter une affectation</h2>

<mat-dialog-content class="mat-typography">
  <form>

    <div class="form-group">
        <!--SELECT anneeScolaire -->
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Annee Scolaire: </mat-label>
          <mat-select [formControl]="anneeScolairesV" [(ngModel)]="data.anneeScolaire" >
        <!--                            <mat-option>&#45;&#45;</mat-option>-->
              <mat-option *ngFor="let an of anneeScolaires" [value]="an">
                  {{an.ans}}
              </mat-option>
          </mat-select>
        </mat-form-field>

      
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Select Élève(s)</mat-label>
        <mat-select name="eleves" multiple [(ngModel)]="data.eleves">
            <mat-option *ngFor="let eleve of eleveList" [value]="eleve">{{ eleve.nom }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
  
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Select Ligne(s)</mat-label>
        <mat-select name="listDesLignes" multiple [(ngModel)]="data.listDesLignes">
            <mat-option *ngFor="let ligne of ligneList" [value]="ligne">{{ ligne.nomLigne }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      
   
<!--SELECT anneeScolaire -->
<mat-form-field style="width: 100%" appearance="outline">
  <mat-label>Select bus(s) </mat-label>
  <mat-select  [(ngModel)]="data.listDesBus">
<!--                            <mat-option>&#45;&#45;</mat-option>-->
<mat-option *ngFor="let bus of busList" [value]="bus">{{ bus.immatriculation }}</mat-option>
</mat-select>
</mat-form-field>



   
      
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Select Station(s) Aller</mat-label>
        <mat-select name="stationAller" multiple [(ngModel)]="data.stationAller">
            <mat-option *ngFor="let station of listStation" [value]="station">{{ station.nom }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Select Station(s) Retour</mat-label>
        <mat-select name="stationRetour" multiple [(ngModel)]="data.stationRetour">
            <mat-option *ngFor="let station of listStation" [value]="station">{{ station.nom }}</mat-option>
        </mat-select>
      </mat-form-field>
    
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn btn-danger" (click)="onCancel()" style="margin-right: 6px">Annuler</button>
  <button class="btn btn-success" (click)="ngSubmit()">Valider</button>
</mat-dialog-actions>
